@using MVC_Project.WebBackend.Utils;
@model MVC_Project.BackendWeb.Models.AuthViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es-mx">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> @System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"] | @ViewLabels.AUTH_LOGIN_TITLE </title>

    @Styles.Render("~/Content/template/css")


    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/font-awesome/js")

    @Styles.Render("~/plugins/sweetAlertStyles")
    @Scripts.Render("~/plugins/sweetAlert")

    @Styles.Render("~/plugins/styles/select2")

</head>

@{
    var language = ViewConstants.GetDefaultLanguage();
}

<body class="gray-bg">
    <div style="padding:5px">
        @if (ViewConstants.IsMultiLanguage())
        {
            object espanol = null;
            object ingles = null;


            if (language.LanguageCultureName.Equals(ViewConstants.ESPANOL))
            {
                @Html.LabelForModel("Español")
            }
            else
            {
                @Html.ActionLink("Español", "ChangeLanguage", "Auth", new { lang = ViewConstants.ESPANOL }, espanol)
            }

            <span>|</span>

            if (language.LanguageCultureName.Equals(ViewConstants.INGLES))
            {
                @Html.LabelForModel("Inglés")
            }
            else
            {
                @Html.ActionLink("Inglés", "ChangeLanguage", "Auth", new { lang = ViewConstants.INGLES }, ingles)
            }




        }
    </div>




    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                @*<h1 class="logo-name">ST</h1>*@
                <img alt="logo" src="@System.Web.Configuration.WebConfigurationManager.AppSettings["LogoBase"]" width="200" />
            </div>
            <h3>@System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"]</h3>

            @Html.Partial("_Messages")

            <p>@ViewLabels.AUTH_LOGIN_TITLE</p>
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = @ViewLabels.USERNAME, @required = "required", maxlength = "20" })
                </div>
                <span class="help-block"></span>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = @ViewLabels.PASSWORD, @required = "required", maxlength = "20" })
                </div>
                <span class="help-block"></span>
                <div class="mb-3 d-flex">
                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                    @Html.DropDownListFor(m => m.IdCedis, Model.AvailableCedis, new { @class = "flex-grow-1" })
                </div>
                <span class="help-block"></span>
                <button type="submit" class="btn btn-primary block full-width m-b">@ViewLabels.AUTH_LOGIN_SUBMIT</button>
                <span class="help-block"></span>
            }
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="/Scripts/plugins/validate/jquery.validate.min.js"></script>
    @Scripts.Render("~/plugins/scripts/select2")

    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name=@Html.NameFor(m => m.IdCedis)]').select2();
        });
    </script>
</body>
</html>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            swal({
                title: "Operacion exitosa!",
                text: '@(ViewBag.Message)',
                html: true
            });
    </script>
}

<script>
    function MessageAlert(d) {
        debugger;
        var rslt = $.parseJSON(d.responseText);
        if (rslt.statusCode == 200) {
            $().toastmessage("showSuccessToast", rslt.status);
        }
        else {
            $().toastmessage("showErrorToast", rslt.status);
        }
    }
</script>
