
@{
    ViewBag.Title = "Administración de Eventos";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Eventos</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="eventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/fullCalendarStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/iCheck")
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            /* initialize the calendar -----------------------------------------------------------------*/
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                locale: 'es',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,agenda'
                },
                editable: true,
                droppable: false, // this allows things to be dropped onto the calendar
                //drop: function () {
                //     is the "remove after drop" checkbox checked?
                //    if ($('#drop-remove').is(':checked')) {
                //         if so, remove the element from the "Draggable Events" list
                //        $(this).remove();
                //    }
                //},
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '@Url.Action("GetAllByFilter")',
                        type: "GET",
                        dataType: "JSON",
                        success: function (result) {
                            var events = [];
                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        id: data.Uuid,
                                        title: data.Title,
                                        description: data.Description,
                                        start: moment(data.Start),
                                        end: data.End != null ? moment(data.End) : null,
                                        allDay: data.IsFullDay
                                        //backgroundColor: "#9501fc"
                                    });
                            });
                            callback(events);
                        }
                    });
                },
                eventClick: function (calEvent, jsEvent, view) {
                    $('#eventModal #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html('<b>End: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                    }
                    $description.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                    $('#eventModal #pDetails').empty().html($description);
                    $('#eventModal').modal();
                }
                @*,
                eventSources: [
                    {
                        url: '@Url.Action("GetAllByFilter")',
                        method: 'GET',
                        failure: function () {
                            alert('there was an error while fetching events!');
                        }
                    }
                ]*@
            });


        });
    </script>
}

