@model  MVC_Project.WebBackend.Models.DocumentViewModel
@{
    ViewBag.Title = "Administración de Documentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dataTablesStyles")
    @Styles.Render("~/plugins/dropzoneStyles")
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewLabels.LABEL_SEARCH</h5>
                </div>
                <div class="ibox-content m-b-sm border-bottom">
                    @using (Html.BeginForm("GetAllByFilter", "Documents", FormMethod.Post, new { @id = "searchForm" }))
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="Name">Nombre</label>
                                    @Html.TextBoxFor(m => m.Name, new { @Class = "form-control form-control-sm txtFiltro", maxlength = "40" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="FilterInitialDate">Fecha de Creación</label>
                                    @Html.EditorFor(m => m.FilterDate, new { @cssClass = "form-control-sm form-control" })
                                </div>
                            </div>
                            <div class="col-6 offset-6 text-right">
                                <button type="button" id="btnSearchForm" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> @ViewLabels.LABEL_SEARCH</button>
                                &nbsp;
                                <button type="button" id="btnClearForm" class="btn btn-sm btn-default"><i class="fa fa-eraser "></i> @ViewLabels.LABEL_CLEAN</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@ViewLabels.LABEL_RESULTS</h5>
                    <div class="ibox-tools">
                        <a href="#addDocumentModal" class="btn btn-primary" data-toggle="modal"><span class="fas fa-file-import"></span> Nuevo</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table id="tblResults" class="table table-striped table-bordered table-hover"></table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div id="addDocumentModal" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Documento</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddDocument", "Document", FormMethod.Post, new { @id = "documents-form", @role = "form", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <label>Tipo de Documento:</label>
                    <select id="DocumentType" name="DocumentType" class="custom-select" required="required">
                        <option value="">Seleccione...</option>
                        <option value="CV">Curriculum Vitae</option>
                        <option value="CONTRATO">Contrato</option>
                        <option value="IDENTIFICACION">Identificación</option>
                        <option value="CERTIFICACION">Certificación</option>
                        <option value="DIPLOMA">Diploma</option>
                        <option value="COMPROBANTE">Comprobante</option>
                        <option value="ADMINISTRATIVO">Documento Administrativo</option>
                        <option value="PRESENTACION">Presentación</option>
                        <option value="OTRO">Otro</option>
                    </select>
                    <!-- Tabs Nav Start -->
                    <ul class="nav nav-tabs" id="tabsAddDocument">
                        <li class="nav-item">
                            <a href="#tab01AddDocument" data-toggle="tab" class="nav-link active show">Subir Archivo</a>
                        </li>
                        @*<li class="nav-item">
                                <a href="#tab02AddDocument" data-toggle="tab" class="nav-link">URL</a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab03AddDocument" data-toggle="tab" class="nav-link">Dropbox / Google Drive</a>
                            </li>*@
                    </ul>
                    <!-- Tabs Nav End -->
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade active show" id="tab01AddDocument">
                            <div id="documents-dropzone" class="dropzone">
                                <div class="dropzone-previews"></div> <!-- this is were the previews should be shown. -->
                                <div class="dz-message" data-dz-message>Haga click o arrastre el archivo</div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade" id="tab02AddDocument">
                            URL: <input type="text" name="CustomUrl" id="CustomUrl" value="" class="form-control" />
                        </div>
                        <!-- Tab Pane End -->
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade" id="tab03AddDocument">
                            <div id="containerDropbox"></div>
                            <br />
                            <input type="text" name="ProviderUrl" id="ProviderUrl" value="" class="form-control" readonly />
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                    <!-- Tab Content End -->
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="far fa-window-close"></i>&nbsp;Cerrar</button>
                <button type="button" class="btn btn-success" name="btnEnviarDoc" onclick="javascript:sendDocument();"><i class="fas fa-check"></i>&nbsp;Guardar</button>
            </div>

        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dropzone")
    <script src="~/Scripts/Utils.js"></script>
    <script src="~/Scripts/views/template/ReporteIndex.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        var myDropzone;

        $(document).ready(function () {

            var columns = [
                { data: 'Id', title: "Id", visible: false },
                { data: 'Name', title: "Nombre" },
                { data: 'CreationDate', title: "Fecha/Hora de Creación" },
                { data: 'Username', title: "Usuario" },
                { data: 'DocumentType', title: "Tipo" },
                { data: 'Uuid', title: "Descarga", render: function (data, type, row, meta) {
                        return '<a href=@Url.Action("Download","Documents")?Uuid='+data+' target="_blank" class="btn-link"><i class="fas fa-download"></i></a>';
                    }
                }
            ];
            
            var reporteCtrl = new ReporteIndexControlador(columns);
            reporteCtrl.init();
            
            //MODAL SUBIR DOCUMENTOS
            $("#documents-dropzone").dropzone({
                url: '@Url.Action("AddDocument", "Documents")',
                addRemoveLinks: true,
                autoProcessQueue: false,
                uploadMultiple: false,
                parallelUploads: 1,
                maxFiles: 1,
                paramName: "file",
                maxFilesize: 4, // MB
                init: function () {
                    myDropzone = this;
                    this.on("sending", function (data, xhr, formData) {
                        //$('.bg_loader').show();
                        //$('.loader').show();
                        formData.append("DocumentType", $("#DocumentType").val());
                        formData.append("__RequestVerificationToken", $('[name="__RequestVerificationToken"]').val());
                    });
                    this.on("complete", function (data) {
                        //$('.bg_loader').hide();
                        //$('.loader').hide();
                        var res = JSON.parse(data.xhr.responseText);
                        location.reload();
                    });
                }
            });

        });

        function sendDocument() {
            if ($("#DocumentType").val() != '') {
                myDropzone.processQueue();
            }
        }

    </script>
}
