@{
    ViewBag.Title = "Portal de Cálculo de Cuotas";
    Random _random = new Random();
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-12">
            <div class="ibox">
                <form>
                    <div class="ibox-title">
                        <h5>Ajustes</h5>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="cedis">CEDIS</label>
                                    <select class="form-control m-b" name="cedis">
                                        <option>CEDIS 1</option>
                                        <option>CEDIS 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="date">Periodo</label>
                                    <select class="form-control m-b" name="date">
                                        <option>Enero</option>
                                        <option>Diciembre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-6 text-right">
                                <span>
                                    <button type="button" class="btn btn-sm btn-primary btn-filter"><i class="fas fa-search"></i> Buscar</button>
                                    <button type="button" class="btn btn-sm btn-default"><i class="fas fa-eraser "></i> Limpiar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="ibox">
                <form>
                    <div class="ibox-title">
                        <h5>Resultado</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row pb-4">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Cuota Total APC</label>
                                    <input type="text" class="form-control m-b" value="295,227" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Cuota Total CP</label>
                                    <input type="text" class="form-control m-b" value="295,227" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Diferencia APC</label>
                                    <input type="text" class="form-control m-b text-danger" value="-150" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Diferencia CP</label>
                                    <input type="text" class="form-control m-b" value="0" />
                                </div>
                            </div>
                            <div class="col-6 offset-6">
                                <a href="#" class="btn btn-sm btn-primary float-right">
                                    Ajustar
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped mb-4">
                                <thead>
                                    <tr>
                                        <th scope="col">Ruta</th>
                                        <th scope="col">Nom Ruta</th>
                                        <th scope="col" class="bg-success">APC</th>
                                        <th scope="col" class="bg-success">APC X DIA</th>
                                        <th scope="col" class="bg-danger">OP</th>
                                        <th scope="col" class="bg-danger">OP X DIA</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        <tr>
                                            <td>@($"45{i}")</td>
                                            <td>R HOGAR @($"45{i}")</td>
                                            <td>@_random.Next(4000, 5000)</td>
                                            <td>@_random.Next(100, 200)</td>
                                            <td>@_random.Next(90000, 110000)</td>
                                            <td>@_random.Next(3000, 5000)</td>
                                            <td>
                                                <a href="#" class="btn btn-xs btn-info">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

