@model  IEnumerable<MVC_Project.WebBackend.Models.PredefinedListProductViewModel>

<div class="table-responsive">
    <table id="productsTable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sku)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsStrategic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPrioritary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsTactic)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Sku</td>
                    <td>@product.Product</td>
                    <td>@product.Amount</td>
                    <td>@(product.IsStrategic ? "Sí": "No")</td>
                    <td>@(product.IsPrioritary ? "Sí": "No")</td>
                    <td>@(product.IsTactic ? "Sí": "No")</td>
                </tr>
            }
        </tbody>
    </table>
</div>