@model  MVC_Project.WebBackend.Models.ImportInOutViewModel

@{
    ViewBag.Title = "Listas In & Out | Importar";
}
@section styles {
    @Styles.Render("~/plugins/dataTablesStyles")
    <style>
        .custom-file-label::after {
            content: "Buscar" !important;
        }
    </style>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-12">
            <div class="ibox float-e-margins">
                @using (Html.BeginForm("ProductsImporter", "InOut", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="ibox-title d-flex justify-content-between">
                        <h5>Información</h5>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Cedis)
                                    <select class="form-control m-b" name="@Html.IdFor(m => m.Cedis)">
                                        <option>CEDIS 1</option>
                                        <option>CEDIS 2</option>
                                        <option>CEDIS 3</option>
                                        <option>CEDIS 4</option>
                                    </select>
                                    @Html.ValidationMessageFor(m => m.Cedis)
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ExcelFile)
                                    <div class="custom-file">
                                        <input id="@Html.IdFor(m => m.ExcelFile)" name="@Html.IdFor(m => m.ExcelFile)" type="file" class="custom-file-input">
                                        <label for="@Html.IdFor(m => m.ExcelFile)" class="custom-file-label">Seleccione un archivo...</label>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ExcelFile)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer d-flex justify-content-end">
                        <button type="button" class="btn btn-link btn-xs mr-2">
                            <i class="fa fa-eraser mr-1" aria-hidden="true"></i> Limpiar
                        </button>
                        <button type="submit" class="btn btn-primary btn-xs">
                            <i class="fa fa-file-import mr-1" aria-hidden="true"></i> Importar
                        </button>
                    </div>
                }
            </div>
        </div>
        <div class="col-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title d-flex justify-content-between">
                    <h5>Resultados</h5>
                </div>
                <div class="ibox-content clearfix">
                    @{ Html.RenderPartial("_ImportResult", Model.ImportedProducts); }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/custom/Utils")
    <script src="~/Scripts/views/InOut/Index.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#productsTable').DataTable({
                pageLength: 10,
                language: { url: new URL('/Scripts/custom/dataTableslang.es_MX.json', window.location.origin) },
                orderMulti: false,
                searching: false,
                ordering: false,
            });
        });


        $(function () {
            $('.custom-file-input').on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });
        });
    </script>

}